*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
.container{
    width: 80%;
    display: block;
}
.clear{
    clear: both;
    display: block;
}
header{
    padding: 20px 0;
    text-align: center;
}
header h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: red;
}
nav{
    background-color: blue;
    border-radius: 7px 0;
}
.menu{
    padding: 15px 0;
}
.menu a{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    padding: 0 20px;
}
.menu a:first-child{
    padding-left: 0;
}
.menu a:hover{
    color: tomato;
    text-decoration: underline;
}
#banner{
    position: relative;
}
#banner img{
    width: 100%;
    height: 500px;
}
.info{
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);

    color: black;
    padding: 30px 100px;
    opacity: 1.4;
    text-align: center;
}
.info h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 0%;
}
.info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}
#feature{
    padding: 30px 0;
}
#feature h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
    text-align: center;
    border: ;
    display: inline-block;
  }
  .boxes{
    padding-top: 30px;
    display: flex;
  }
  .box{
    width: 30%;
    position: relative;
  }
  .box img{
    width: 100%;
  }
  .box h4{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: aqua;
    width: 100%;
    padding: 2px 0;
    opacity: 0.8;
  }
  .box h4 a{
    text-align: left;
    color: tomato;
    text-decoration: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.box h4 a:hover{
    text-decoration: underline;
}
.box img:hover{
    transform: scale(150%);
}
#newsletter{
    padding: 40px 0;
    background-image: linear-gradient( 45deg, black, blue, darkblue) ;
}
#newsletter form{
    display: block;
    text-align: center;
}
#newsletter input[type="text"]{
    padding: 10px 5px;
    width: 250px;
    border: none;
    outline: none;
}
#newsletter input[type=submit]{
    padding: 10px;
    background-color: red;
    cursor: pointer;
    color: white;
}
#newsletter h5{
    color: rebeccapurple;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 10px
    ;
}
footer{
    padding: 30px 0;
}
.fboxes{
    display: flex;
}
.fbox{
    width: 24%;
}
.fbox h6{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    color: black;
}
.fbox ul{
    list-style-type: none;
}
.fbox ul li{
    border-bottom: 1px dotted black;
    padding: 5px 0;
}
.fbox ul li a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: red;
}
.fbox ul li a:hover{
    color:steelblue;
}